
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 10px;
  background-color: #34495e;
}
.main form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* padding: 100px; */
}
.main h1{
  font-size: 55px;
  color: white;
}
.main p{
  font-size: 20px;
}
.main input{
  padding: 10px 10px;
  width: 400px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  border: 2px solid white;
}
.main button{
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border: 2px solid white;
  color: #34495e;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}
